/* CORAL HEX #f97171  #f99192  #86ebe0  #00ddcc*/
/* MINT HEX #66beb2 	#8ad6cc  	#b2eee6 */
/* BLUE HEX #f9717 */


* {
  box-sizing: border-box;
}

/* BODY */
body {
background: url("../images/hexellence_@2X.png");
font-family: Arial, Helvetica, sans-serif;

}

#masthead {
  padding: 0;
}


/* html {
  position: relative;
  min-height: 100%;
} */

main {
  margin:80px 0;
}

/* .block {
  background-color: #ffffff;
  margin-bottom: 30px;
}

.block-header {
  color: #f97171;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
} */
/* ____________________________________________________________________________________________ */
/* NAV BAR */

/* #logo {
  font-family: 'Shadows Into Light', cursive;
  background: #f97171;
  color: #ffffff;  
  font-size: 32px;
  font-weight: 700;
  padding: 10px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #f97171;
}

.navbar {
  background: #ffffff;
  border-bottom: 1px solid #dddddd;

}

.navlink {
  float: right;
}


/* media query for nav background color change */
@media only screen and (max-width: 767px) {
  .navbar-header {
    background-color: #f97171
;
  }
} 
/* ____________________________________________________________________________________________ */


/* CONTENT */
#main-container {
  padding-top: 20px;
  margin-bottom: 30px;
  min-height: 50vh;
}

.main-section {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 30px;
  background:#ffffff;
  /* border: 1px solid #dddddd; */
}

h1, h4 {
  color: #f97171;
  border-bottom: 2px solid #dddddd;
  font-family: 'Shadows Into Light', cursive;
}

p {
font-family: 'Pavanam', sans-serif;
}

img.auth-image {
  height: 250px;
  width: 200px;
  max-width: 200px;
  border: 2px solid #f97171;
  border-radius: 6px;
  object-fit: cover;
}

#githubIcon,
#linkedinIcon,
#resumeIcon,
#mailIcon {
  width: 32px;
  height: 32px;
  border: none;
}

.icons {
  text-align: center;
  padding: 5px; 
  margin: 5px;
}

/* .fa-github,
.fa-linkedin-in,
.fa-file,
.fa-envelope {
  height: 25px;
} */


/* ____________________________________________________________________________________________ */
/* PORTFOLIO
img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border: 1.5px solid #f97171;

}


h3,.projectTitle {
  background-color: #f97171;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  padding: 5px;
  width: 250px;
}

.work {
  margin: 10px auto;
} */

/* ========================================================================= */
/* .projectContainer {
  position: relative;
  width: 100%;
}

.projectImage {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
 
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.projectContainer:hover .image {
  opacity: 0.3;
}

.projectContainer:hover .middle {
  opacity: 0.8;
}

.projectText {
  background-color: #f97171;
  color: white;
  font-size: 18px;
  padding: 16px 32px;
}

.projectIcon {
  height: 40px;
  width: auto;
  padding: 2px;

} */

/* ============================================================================== */
/* ____________________________________________________________________________________________ */

/* CONTACT */
#btn:hoover {
  color: #f97171;
  border: 1px solid #f97171;
}

/* ____________________________________________________________________________________________ */
/* FOOTER */
footer {
  background: #666666;
  color: #cccccc;
  text-align: center;
  font-size: 12px;
  height: 50px;
  width: 100%;
  border-top: 8px solid #f97171;
  padding: 30px 0;
  /* position: absolute; */
  bottom: 0;
  }
  
/* ____________________________________________________________________________________________ */
/* FLIP CARDS */
*, *:before, *:after {
  box-sizing: border-box;
}
html {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  color: #333;
  font-family: "Nunito Sans", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #ecf0f9;
  background-attachment: fixed;
}
.content {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
}
/* .heading {
  width: 100%;
  margin-left: 1rem;
  font-weight: 900;
  font-size: 1.618rem;
  text-transform: uppercase;
  letter-spacing: 0.1ch;
  line-height: 1;
  padding-bottom: 0.5em;
  margin-bottom: 1rem;
  position: relative;
}
.heading:after {
  display: block;
  content: '';
  position: absolute;
  width: 60px;
  height: 4px;
  background: linear-gradient(135deg, #1a9be6, #1a57e6);
  bottom: 0;
}
.description {
  width: 100%;
  margin-top: 0;
  margin-left: 1rem;
  margin-bottom: 3rem;
} */
.card {
  color: inherit;
  cursor: pointer;
  width: calc(33% - 2rem);
  min-width: calc(33% - 2rem);
  height: 275px;
  min-height: 275px;
  perspective: 1000px;
  margin: 1rem;
  position: relative;
}

.projectimage {
  height: 300px;
  /* max-width: 275px; */
  align-content: center;
  object-fit: cover;
}

@media screen and (max-width: 800px) {
  .card {
    width: calc(50% - 2rem);
 }
}
@media screen and (max-width: 500px) {
  .card {
    width: 100%;
 }
}
.front, .back {
  display: flex;
  border-radius: 6px;
  background-position: center;
  background-size: cover;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: ease-in-out 600ms;
}
.front {
  background-size: cover;
  padding: 2rem;
  font-size: 1.618rem;
  font-weight: 600;
  color: #fff;
  overflow: hidden;
  font-family: Poppins, sans-serif;
}
.front:before {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, #1a9be6, #1a57e6);
  opacity: 0.25;
  z-index: -1;
}
.card:hover .front {
  transform: rotateY(180deg);
}
.card:nth-child(even):hover .front {
  transform: rotateY(-180deg);
}
.back {
  background: #fff;
  transform: rotateY(-180deg);
  padding: 0 2em;
}
.back .button {
  background: linear-gradient(135deg, #1a9be6, #1a57e6);
}
.back .button:before {
  box-shadow: 0 0 10px 10px rgba(26, 87, 230, 0.25);
  background-color: rgba(26, 87, 230, 0.25);
}
.card:hover .back {
  transform: rotateY(0deg);
}
.card:nth-child(even) .back {
  transform: rotateY(180deg);
}
.card:nth-child(even) .back .button {
  background: linear-gradient(135deg, #e61a80, #e61a3c);
}
.card:nth-child(even) .back .button:before {
  box-shadow: 0 0 10px 10px rgba(230, 26, 60, 0.25);
  background-color: rgba(230, 26, 60, 0.25);
}
.card:nth-child(even):hover .back {
  transform: rotateY(0deg);
}
.button {
  transform: translateZ(40px);
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-weight: bold;
  color: #fff;
  padding: 0.5em 1em;
  margin: 5px;
  border-radius: 100px;
  font: inherit;
  border: none;
  position: relative;
  transform-style: preserve-3d;
  transition: 300ms ease;
}
.button:before {
  transition: 300ms ease;
  position: absolute;
  display: block;
  content: '';
  transform: translateZ(-40px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  border-radius: 100px;
  left: 10px;
  top: 16px;
}
.button:hover {
  transform: translateZ(55px);
}
.button:hover:before {
  transform: translateZ(-55px);
}
.button:active {
  transform: translateZ(20px);
}
.button:active:before {
  transform: translateZ(-20px);
  top: 12px;
}

/* ____________________________________________________________________________________________ */
/* MEDIA QUERY */

@media screen and (max-width:980px) {
  #logo {
    margin-left: 30px;
  }

  nav {
  margin-right: 40px;
}

section.main-section {
  width: 60%;
  margin-left: 50px;
}

img.auth-image {
 height: auto;
}
}

@media screen and (max-width:768px) {
section.main-section {
  width: auto;
  margin: 10px;
 }

 /* #contact-form {
   min-width: 100%;
 } */
}

@media screen and (max-width:640px) {
  /* #masthead {
  position: static;
  top: 0;
} */

a#logo, nav {
  width: 100%;
  margin: 0 auto;
  text-align: center;
} 

#main-container {
  padding: 5px;
}

img.auth-image {
  width: 100%;

}
section.main-section {
  width: 95%;
}

/* .work {
  width: 100%;
}

.form#contact-form {
   width: 100%
  margin-left: 20px;
} */

}
  